APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxp5pVXWyJgMd396ZljhE8o9zMniPMGmoD9L7D0bl-b0_cIQyto53YjmEFayY2mHAAO/exec
APPS_SCRIPT_TOKEN=dinar_api_7Hsj29KqP4mX8vL2cN6z
APP_PASSWORD=Dinar123
APP_SESSION_TOKEN=Q8xP2mL7vN4sK9cD6fR3tY1zH5jA8wB2